.portfolio {
  padding-top: 151px;
  padding-bottom: 75px;
}

.portfolio__header {
  margin-bottom: 98px;
}

.portfolio__header p {
  margin: 0;
  margin-left: -3px;

  font-family: "PT Mono", "Courier New", monospace;
  font-size: 48px;
  line-height: 58px;
  color: $color-blanc;
}
