.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;

  @include vp-1199 {
    column-gap: 30px;
    row-gap: 30px;
  }

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
  }
}
